html {
  background-color: #0000;
  text-align: center;
}

.leftLine {
  border: 5px solid #8d427c;
  background-color: #8d427c;
  border-radius: 5px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: calc(30%);
  animation: wipeAnimation 3s;
}

.rightLine {
  border: 5px solid #8d427c;
  background-color: #8d427c;
  border-radius: 5px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: calc(30%);
  animation: wipeAnimation 3s;
}

@keyframes wipeAnimation {
  0% {
    width: 0;
    opacity: 0;
  }

  32% {
    width: 0;
    opacity: 0;
  }
  33% {
    width: 0;
    opacity: 100;
  }
  100% {
    width: 100;
    transition-timing-function: ease-in-out;
  }
}

.logo {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  width: calc(15%);
  height: calc(15%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation: logoAnimation 6s;
}

@keyframes logoAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
    transition-timing-function: ease-in-out;
  }
}

.box {
  transition: box-shadow 0.3s;
  width: calc(70%);
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10vh;
  border-radius: 100px;
  border: 10px solid #ffdae6;
  background: #ffdae6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation: boxAnimation 8s;
}

@keyframes boxAnimation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 100;
    transition-timing-function: ease-in-out;
  }
}

.box:hover {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
  background-color: #ffdae6ca;
  border-color: #ffdae6ca;
}

.socialIcon {
  width: calc(10%);
  height: calc(10%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.soundAnimationContainer {
  width: calc(3%);
  height: calc(3%);
  cursor: pointer;
  display: inline-block;
  margin-left: -95vw;
  animation: boxAnimation 8s;
}
